# IDE
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/
bin/

# Java
*.class
*.jar
*.war
*.ear
*.log
*.nar
*.zip
*.tar.gz
*.rar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

# Outros
out/
gen/
